@media only screen and (max-width: 768px) {
 nav {
     padding-right:20px
 }
 #logo {
 margin-left:10px;

 }

}

@media only screen and (max-width: 640px) {

    #main-container {
        display: flex;
        flex-wrap: wrap;
    }
    #logo {
width: 100%;
    }
    nav  {
        /* display: flex;
        justify-content: center;
        display: inline; */
        float: left;
        padding-left: 150px;
        
    }
footer {
    width: 100%;
}
}